@model payfish.ViewModels.Admin.AddEmployeeViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "افزودن کارمند جدید";
}

<h2 class="mb-4">افزودن کارمند جدید</h2>

<form asp-action="AddEmployee" method="post" class="needs-validation" novalidate>
    <div class="mb-3">
        <label asp-for="Code" class="form-label">کد ملی</label>
        <input asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label">رمز عبور</label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="FirstName" class="form-label">نام </label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="LastName" class="form-label">نام خانوادگی</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Position" class="form-label">پست سازمانی</label>
        <input asp-for="Position" class="form-control" />
        <span asp-validation-for="Position" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="RoleId" class="form-label">نقش</label>
        <select asp-for="RoleId" asp-items="@(new SelectList(Model.Roles, "Id", "Name"))" class="form-select"></select>
        <span asp-validation-for="RoleId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">ثبت</button>
    <a href="@Url.Action("EmployeeList", "Admin")" class="btn btn-outline-secondary">
        <i class="fas fa-arrow-left"></i> انصراف
    </a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
