@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ورود به سامانه";
}

<div class="login-container">
    <div class="login-card">
         <h2 class="text-center">ورود به سامانه فیش حقوقی</h2>

        <form method="post">
            <div class="input-group">
                <label for="code">کد پرسنلی یا کد ملی</label>
                <input type="text" id="code" name="code" placeholder="مثال: 1234567890" required />
                <span style="position: absolute; left: 15px; top: 38px;"></span>
            </div>

            <div class="input-group">
                <label for="password">رمز عبور</label>
                <input type="password" id="password" name="password" placeholder="رمز شخصی شما" required />
                <span style="position: absolute; left: 15px; top: 38px;"></span>
            </div>

            <button type="submit">ورود به سامانه</button>

            <a href="#" class="forgot-password">رمز عبور را فراموش کرده‌ام؟</a>
        </form>

        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger">
                @ViewBag.Error
            </div>
        }

        @* <div class="text-center"> *@
        @*     <a href="@Url.Action("Login", "Admin")" class="btn-admin"> *@
        @*         <span>🔐</span> *@
        @*         <span>ورود ادمین</span> *@
        @*     </a> *@
        @* </div> *@
    </div>
</div>